extends layout

block content
  h1= title
  
  each message in messages
    div.card.mar-top-20
      div.card-body.text-white.bg-info
        h5.card-title #{message.user}
        //- h6.card-subtitle.text-muted #{message.added}
          //- h5.card-title #{message.text}
        p.card-text #{message.text}
      div.card-footer.text-white.bg-secondary #{message.added}
